# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Node / Frontend
node_modules/
autoops-dashboard/node_modules/
autoops-dashboard/dist/

# Logs
logs/
*.log

# Reports
reports/

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Database
*.db

# VS Code
.vscode/